*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight{
    background-color:#ff715b;
}

body{    
    display: flex;
    justify-content: center;
}

.search-form{
    background-color: #1e6262 ;
    padding: 0px 20px;
    color: white; 
    font-size: 20px;
    height: 40vh;
    width: 25vw;
     
}
input{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border: none;
    border-radius: 4px;
    background-color: #ecfffb;
    z-index: 0;
    outline: none;
}

ul{
    padding:0%;
    text-align: center;
}

input::placeholder{
    opacity: 1;
    color:#999;
}

input:hover{
    border: none;
}

li{
    margin:2%;
    color: white;
    padding: 3%;
    list-style: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    
}

.suggestions{
    position: relative;
    z-index: 99;
    background-color: #1e6262 ;
}
